.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: white;
}

.container svg {
  display: block;
  width: 100%;
  height: 100%;
}


.node text {
  font: 12px sans-serif;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 110px;
  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}

.contextMenu {
  stroke: #00557d;
  fill: #ffffff;
}

.menuEntry {
  cursor: pointer;
}

.menuEntry text {
  font-size: 12px;
  stroke: #00557d;
}
